<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">About Covid Data Analyzer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
                Covid Data Analyzer is an Angular web application that give insights on the Covid-19 data worldwide.
                This application is
                developed by Sonu Sathyadas for demonstrating the use of Angular data binding capabilities. It consumes
                the data
                from the <a href="https://github.com/datasets/covid-19">Covid-19 data </a> repository from Github.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center text-primary">
            <h6>Contact : sonusathyadas@synergetics-india.com</h6>
            <h6>Mobile : 8943089425</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h5>Follow me on</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 mx-auto">
            <a href="https://www.facebook.com/sonusathyadas" target="_blank">
                <img src="../../../assets/facebook.png" width="60px" height="60px">
            </a>
        </div>
        <div class="col-sm-1 mx-auto">
            <a href="https://www.linkedin.com/in/sonusathyadas/" target="_blank">
                <img src="../../../assets/linkedin.png" width="60px" height="60px">
            </a>
        </div>
        <div class="col-sm-1 mx-auto">
            <a href="https://twitter.com/sonusathyadas" target="_blank">
                <img src="../../../assets/twitter.webp" width="60px" height="60px">
            </a>
        </div>
    </div>
</div>